@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #F8FAFC;
  font-family: 'Inter', sans-serif;
}

/* Hide default browser password eye icon (Edge/WebView2) */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Custom Scrollbar for professional look */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #CBD5E1;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94A3B8;
}